CONFIG_RAM_START=0x10000000
CONFIG_RAM_SIZE=0x00080000
CONFIG_ROM_BOOT=y
CONFIG_ROM_START=0x06400000
CONFIG_ROM_SIZE=0x00c00000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=50000000
CONFIG_PLAT_BM1686=y
CONFIG_TARGET_ASIC=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_DRIVER_IRQCHIP_ICTL=y
CONFIG_DRIVER_EFUSE=y
CONFIG_TEST=y
CONFIG_TEST_HELLO=y
CONFIG_LIBS="../build/firmware_core/libfirmware_core.a"