CONFIG_RAM_START=0x100000000
CONFIG_RAM_SIZE=0x01000000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=50000000

CONFIG_PLAT_BM1686=y
CONFIG_TARGET_EMULATOR=y

CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y

CONFIG_LIBS="../build/firmware_core/libfirmware_core.a"
