CONFIG_RAM_START=0x40000000
CONFIG_RAM_SIZE=0x01000000

CONFIG_PLAT_QEMU=y
CONFIG_TARGET_ASIC=y

CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y

CONFIG_DRIVER_SERIAL_PL01=y
CONFIG_DRIVER_IRQCHIP_GIC=y

CONFIG_TEST=y
CONFIG_TEST_HELLO=y
