CONFIG_RAM_START=0x80000000
CONFIG_RAM_SIZE=0x01000000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=10000000
CONFIG_TARGET_ASIC=y
CONFIG_CC_OPTIMIZE_NONE=y
CONFIG_DRIVER_SERIAL_NS16550=y

CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=8

CONFIG_DRIVER_IO=y
CONFIG_DRIVER_IRQCHIP=y

CONFIG_TEST=y
CONFIG_TEST_SMP=y
