CONFIG_RAM_START=0x40000000
CONFIG_RAM_SIZE=0x200000
CONFIG_ARCH_SET_TIMER_FREQ=y
CONFIG_ARCH_TIMER_FREQ=10000000

CONFIG_TARGET_ASIC=y
CONFIG_PLAT_SG2042=y

CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y

CONFIG_DRIVER_SERIAL_NS16550=y

CONFIG_TEST=y

CONFIG_SUPPORT_SMP=y
CONFIG_SMP_NUM=128

CONFIG_DRIVER_IO=y
CONFIG_DRIVER_SD=y
CONFIG_DRIVER_IRQCHIP=y
CONFIG_DRIVER_EFUSE=y
CONFIG_DRIVER_SPI_FLASH=y


