menuconfig TEST
	bool "Test Mode"
	help
	enter test mode instead of real firmware function

if TEST
source "test/arch_timer/Kconfig"
source "test/gic/Kconfig"
source "test/fab/Kconfig"
source "test/hello/Kconfig"
endif

